.box{
    margin-top: 50px !important;
}
.card{
    border: 2px solid black !important;
    border-radius: 15px !important;
    background-color: black !important;
}
.card-title{
    color: white !important;
}