{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}

{% block body %}

    <center><h2 class="mt-5">Hospitals</h2>
    </center>
    <div class="container box">
        <div class="row g-3 row-cols-1 row-cols-md-2 row-cols-lg-4">
            <div class="col">
                <div class="card">
                    <img src="https://expensive.s3.jp-tok.cloud-object-storage.appdomain.cloud/Hospital1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Branch 1</h5>
                      <a href="/branch/1" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://expensive.s3.jp-tok.cloud-object-storage.appdomain.cloud/Hospital2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Branch 2</h5>
                      <a href="/branch/2" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://expensive.s3.jp-tok.cloud-object-storage.appdomain.cloud/Hospital3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Branch 3</h5>
                      <a href="/branch/3" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://expensive.s3.jp-tok.cloud-object-storage.appdomain.cloud/Hospital4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Branch 4</h5>
                      <a href="/branch/4" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://expensive.s3.jp-tok.cloud-object-storage.appdomain.cloud/Hospital5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Branch 5</h5>
                      <a href="/branch/5" class="btn btn-primary">See Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

