<!doctype html>
<html lang="en">
  <head>
  	<title>Nutrition Assistant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
  </head>
  <body>
		
		<div class="wrapper d-flex align-items-stretch">
			<nav id="sidebar">
				<div class="custom-menu">
					<button type="button" id="sidebarCollapse" class="btn btn-primary">
	          <i class="fa fa-bars"></i>
	          <span class="sr-only">Toggle Menu</span>
	        </button>
        </div>
	  		<h1><a href="/" class="logo">Nutrition  Assistant</a></h1>
        <ul class="list-unstyled components mb-5">
          <li class="active">
            <a href="/"><span class="fa fa-home mr-3"></span> Home</a>
          </li>
          <li>
              <a href="/signin"><span class="fa fa-user mr-3"></span> Sign In</a>
          </li>
          <li>
            <a href="/signup"><span class="fa fa-user mr-3"></span> Sign Up</a>
        </li>
          <li>
            <a href="/index"><span class="fa fa-sticky-note mr-3"></span> Upload image</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Settings</a>
          </li>
          <li>
            <a href="#"><span class="fa fa-paper-plane mr-3"></span> Information</a>
          </li>
        </ul>

    	</nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
         
        </div>
		</div>

    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/popper.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
    

<body>
  <div class="container">
      <div class="row">
          <div class="col-lg-8  offset-lg-2">

              <h2 class="mt-5">Nutritions Assistant</h2>
              <div id="myform">
                  <form>
                      <input type="submit" value="Stop/Start" name="stop" />
                      <input type="submit" value="Capture" name="click" />
                      <input type="submit" value="Detect" name="detect" />
                  </form>
              </div>
              <div class="about">By identifying the supplied food image, this project attempts to create a web application that automatically calculates food qualities like ingredients and nutritional value. For precise food recognition and to determine the nutritional value of the recognized item, our solution uses a food detection model and food <APIs class="br">
                  <ol>
                      <li>First click on stop and start for starting </li>
                      <li>then click on capture to take a image which nutrients you want to know </li>
                      <li>click on detect button for see the nutrients list</li>
                      <br>
                      <br>
                      <li>The health issues most of the time depends on our diet and nutrition</li>
                    </ol>
              </APIs></div>
      
              <img src="{{ url_for('static', filename='images')}}" height="50%">

       

          </div>
      </div>
  </div>
</body>